<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<sites>
			<site name="JssApp"
					rootPath="/sitecore/content/JssApp"
					startItem="/home"
					language="en"
					database="web"
					virtualFolder="/"
					physicalFolder="/"
					enableTracking="true"
					cacheHtml="true"
					htmlCacheSize="55MB"
					enablePreview="true"
					enableWebEdit="true"
					enableDebugger="true"
					enableItemLanguageFallback="true"
					enableFieldLanguageFallback="true"
					disableClientData="false" />
		</sites>

		<javaScriptServices>
			<apps>
				<app name="JssApp"
					 sitecorePath="/sitecore/content/JssApp"
					 graphQLEndpoint="/sitecore/api/graph/items/web"
					 inherits="defaults" />
			</apps>
		</javaScriptServices>
		<settings>
			<setting name="CustomSitecoreSetting" value="CustomSitecoreSettingValue"/> 
		</settings> 
	</sitecore>
</configuration>
